@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
	margin: 0px;
	padding-bottom: 0px;
}
/*CSS modification for navbar*/
.nav-extended {
	padding-left: 10px;
	padding-bottom: 5px;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.content-wrapper {
  padding-top: 75px;
  max-width: 100%;
}

.nav-wrapper a{
	font-family: "Open Sans";
	color: #D09AFF;
	font-size: 20px;
	height: 100%
}

.nav-wrapper .brand-logo{
	font-family: "Open Sans";
	color: #D09AFF;
	font-size: 24px;
}

nav.nav-extended .nav-wrapper {
	min-height: 4vh;
	max-height: 100px;
	padding-top: 0.8vh
}

#mobile-demo {
	width: 40vw;
	background-color: #ECF0F1;
	max-width: 300px;

}
/*.sidenav {
	width: 40vw;
	max-width: 200px;
}*/

.sidenav .purp-font {
	font-family: "Open Sans";
	color: #D09AFF;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	height: 5vh; 
	vertical-align: baseline;

}

 nav i.material-icons {
 	font-size: 24px;
 }

/*CSS for landing page and */

.landing {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 70vh;
}

.text {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 10px;
	justify-content: center;
	max-width: 100%;
}

.title {
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 26px;
	margin-bottom: 20px;
	text-align: center;
}

.body-text {
	font-family: 'Montserrat';
	font-weight: 200;
	font-size: 16px;
	text-align: center;
}

.avatar {
	flex-grow: 1;
	background-color: #ECF0F1;
	display:flex;
	align-items: center;
	justify-content: center;
}

.landing-avatar {
	max-height: 35vh;
	max-width: 100vw;
}

.landing-image {
	max-height: 400px;
	width: auto;
}

.introduction {
	flex-grow: 1;
	background-color: #00bfa2;
	padding: 20vh 20vw 20vh 20vw;
	width: 100%;
	min-height: 70vh;
}

.project-wrapper {
	padding-top: 80px;
}



.card-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 1vw;
	padding-right: 1vw;
}


.cus-card {
	width: 60vw;
	height: 30vw;
	max-width: 525px;
	max-height: 275px;
	min-height:140px; 
	min-width:280px;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
  	overflow: hidden;
  	margin: 2vh 2vw;
  	border-radius: 20px;
}

.hover-sec {
	max-width: 100%;
	max-height: 100%;
  	position: relative;
  	display: flex;
  	justify-content: center;
}

.image-card {
	opacity: 1;
  	flex-shrink: 0;
  	width: 100%;
	transition: .5s ease;
	backface-visibility: hidden;
}

.hidden-content {
	/*to fill the card space*/
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	transition: .5s ease;
	opacity: 0;
	background-color: #2c2c2c;
	color: #bc70ff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1vh 2vw;
}

.hover-sec:hover .image-card {
	opacity: 0;
}

.hover-sec:hover .hidden-content {
	opacity: 1;
}


.hidden-text {
	flex-grow: 1.5;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: 200;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 0.5vh 1vw 3vh 1vw;
	line-height: 130%;
}


.card-modal {
	flex-grow: 1;
}
.card-modal a {
	text-align: center;
}

.modal-text {
	text-align: center;
	height: 100%;
	font-size:18px;
	line-height: 130%;
	word-wrap: normal;
	font-weight: 500;
}


 .btn {
 	background-color: transparent;
 	border: 1px solid #bc70ff;
 	color: #bc70ff;
 	border-radius: 30px;
 }
 .btn:hover {
 	background-color: transparent;
 }
 .btn:focus {
 	background-color: #D09AFF;
 }

 .modal-title {
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 24px;
 } 
 .modal-content {
	font-family: 'Montserrat';
	font-weight: 100;
	font-size: 16px;
 }

 .bold {
 	font-weight: bold;

 }


.skills-wrapper {
	padding: 5vw 5vw;
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between; 
	background-color: #2C2C2C; 
}
.skill {
	font-style: "Open Sans";
	font-size: 24px;
	font-weight: 500;
	padding: 5px 5px;
	height: 50px;
	min-width: 110px;
	margin: 5px;
	border-radius: 8px;
	color: white;
	text-align: center;
}
.skill:hover {
	opacity: 0.6;
	cursor: default;	
}

.contact-me{
	padding: 50px;
	padding-bottom: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #2C2C2C;
	color: #00bfa2;
}

.contact-info {
	padding: 20px 20px;
	display: flex;
	justify-content: center
}

.logo-wrapper {
	margin: 5px 25px;
}
.logo-wrapper:hover{
	opacity: 0.6;
}
.contact-logo{
	cursor: pointer;
	width: 64px;
}
.mail-icon {
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	#mobile-demo {
		width: 60vw;
		max-width: 300px;
	
	}
	.sidenav .purp-font {
		padding-top:1vh;
		height: 9vh;
	}
	.title {
		font-size: 24px;
	}
	.body-text {
		font-size: 14px;
	}
	.cus-card {
		width: 90vw;
		height: 45vw;
	}
	.hidden-text {
		font-size: 24px;
	}
	.modal-text {
		font-size: 18px;
	}
	.modal-title {
		font-size: 16px;
	}
	.modal-content {
		font-size: 14px;
	}
	.contact-logo{
		width: 48px;
		height: 48px;
	}

}