@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*@import url('https://fonts.googleapis.com/css?family=Montserrat')*/
body {
	margin: 0px;
	padding-bottom: 0px;
}
/*CSS modification for navbar*/
.nav-extended {
	padding-left: 10px;
	padding-bottom: 5px;

}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.content-wrapper {
  padding-top: 75px;
  max-width: 100%;
}

.nav-wrapper a{
	font-family: "Open Sans";
	color: #D09AFF;
	font-size: 18px;
}

.nav-wrapper .brand-logo{
	padding-top: 0.2vh;
	font-family: "Open Sans";
	color: #D09AFF;
	font-size: 3vh;
}

nav.nav-extended .nav-wrapper {
	min-height: 4vh;
	max-height: 100px;

}

#mobile-demo {
	font-size: 2.5vh;
	max-width: 60vw;

}
.sidenav {
	width: 60vw;
}

.sidenav .purp-font {
	font-family: "Open Sans";
	color: #D09AFF;
	font-size: 2.5vh;
	font-weight: 100;
	padding: 0.5vh 0.1vw;
	text-align: center;
	height: 5vh; 
	vertical-align: baseline;
	padding-top: 25px;

}

 nav i.material-icons {
 	font-size: 3vh;
 }

/*CSS for landing page and */

.landing {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 70vh;
}

.text {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 10px;
	justify-content: center;
	max-width: 100%;
}

.title {
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 4vh;
	margin-bottom: 20px;
	text-align: center;
}

.body-text {
	font-weight: 200;
	font-size: 2vh;
	text-align: center;
}

.avatar {
	flex-grow: 1;
	background-color: #ECF0F1;
	display:flex;
	align-items: center;
	justify-content: center;
}

.landing-avatar {
	max-height: 35vh;
	max-width: 100vw;
}

.landing-image {
	max-height: 400px;
	width: auto;
}

.introduction {
	flex-grow: 1;
	background-color: #00bfa2;
	padding: 20vh 20vw 20vh 20vw;
	width: 100%;
	min-height: 600px;
}

.projects {
	margin-top: 50px;
}



.card-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 50px;
}


.cus-card {
	margin: 30px;
	width: 80vw;
	max-width: 400px;
	height: 300px;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
  	overflow: hidden;
  	margin: 20px 20px;
  	border-radius: 20px;
}

.hover-sec {
	width: 400px;
	max-width: 400px;
	max-height: 220px;
  	position: relative;
  	display: flex;
  	justify-content: center;
}

.image-card {
	opacity: 1;
  	display: block;

	flex-shrink: 0;
	min-height: 100%;
	max-width:100%;
	transition: .3s ease;
	backface-visibility: hidden;
}

.hidden-content {
	/*to fill the card space*/
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	transition: .3s ease;
	opacity: 0;
	background-color: rgba(212,19,24,0.55);
	/*To center the div*/

	/*display: flex;
	flex-direction: column;
	z-index: 2;*/

}

.hover-sec:hover .image-card {
	opacity: 0.3;
}

.hover-sec:hover .hidden-content {
	opacity: 1;
}

.text-card {
	position: absolute;
	top: 50%;
	left: -0.3%;
	flex-grow: 2;
	width: 100%;
  	color: white;
  	font-weight: 500;
}

.card-modal {
	flex-grow: 1;
}

.card-modal a {
	width: 100%;
	height: 100%;
}

.modal-text {
	padding:5px 10px; 
	color: white;
	font-size: 24px;
	line-height: 130%;
	word-wrap: normal;
	font-weight: 500;
}
 .btn {
 	background-color: #bc70ff;
 }
 .btn:hover {
 	background-color: #D09AFF;
 }
 .btn:focus {
 	background-color: #D09AFF;
 }


.skills-wrapper {
	padding: 5vw 5vw;
	display:flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-between; 
	background-color: #2C2C2C; 
}
.skill {
	font-style: "Open Sans";
	font-size: 24px;
	font-weight: 500;
	padding: 5px 5px;
	height: 50px;
	min-width: 110px;
	margin: 5px;
	border-radius: 8px;
	color: white;
	text-align: center;
}
.skill:hover {
	opacity: 0.6;
	cursor: default;	
}

.contact-me{
	padding: 50px;
	padding-bottom: 170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #2C2C2C;
	color: #00bfa2;
}

input, textarea{
    color: #00bfa2;
}

#submit-btn {
	background-color: #AB0509; 
}
#submit-btn:hover {
	background-color: #FD686C; 
}
#submit-btn:focus {
	background-color: #FD686C; 
}


/*
color Pallete

Light:
FD686C
EB3C41
;


Medium:
#D41318;


Dark:
AB0509
840003;

*/